apiVersion: 1
groups:
  - orgId: 1
    name: Backend
    folder: Services
    interval: 10s
    rules:
      - uid: nginx_down
        title: Nginx
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              expr: node_systemd_unit_state{name="nginx.service",state="failed"}
              refId: A
              intervalMs: 1000
              maxDataPoints: 43200
          - refId: B
            datasourceUid: __expr__
            model:
              expression: A
              reducer: last
              refId: B
              type: reduce
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: [0]
                    type: gt
                  operator:
                    type: and
                  query:
                    params: [C]
                  reducer:
                    params: []
                    type: last
                  type: query
              expression: B
              refId: C
              type: threshold
        noDataState: Alerting
        execErrState: Alerting
        for: 5m
        labels:
          severity: critical
      - uid: postgres_down
        title: PostgreSQL
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              expr: up{job="postgres"}
              refId: A
              intervalMs: 1000
              maxDataPoints: 43200
          - refId: B
            datasourceUid: __expr__
            model:
              expression: A
              reducer: last
              refId: B
              type: reduce
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: [1]
                    type: lt
                  operator:
                    type: and
                  query:
                    params: [C]
                  reducer:
                    params: []
                    type: last
                  type: query
              expression: B
              refId: C
              type: threshold
        noDataState: Alerting
        execErrState: Alerting
        for: 5m
        labels:
          severity: critical
      - uid: redis_down
        title: Redis
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              expr: up{job="redis"}
              refId: A
              intervalMs: 1000
              maxDataPoints: 43200
          - refId: B
            datasourceUid: __expr__
            model:
              expression: A
              reducer: last
              refId: B
              type: reduce
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: [1]
                    type: lt
                  operator:
                    type: and
                  query:
                    params: [C]
                  reducer:
                    params: []
                    type: last
                  type: query
              expression: B
              refId: C
              type: threshold
        noDataState: Alerting
        execErrState: Alerting
        for: 5m
        labels:
          severity: critical
