apiVersion: 1
groups:
  - orgId: 1
    name: Immich Backup Local
    folder: Services
    interval: 10s
    rules:
      - uid: immich_backup_local_failed
        title: Immich Local Backup
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: prometheus
            model:
              expr: node_systemd_unit_state{name="borgbackup-job-immich-local.service",state="failed"}
              refId: A
              intervalMs: 1000
              maxDataPoints: 43200
          - refId: B
            datasourceUid: __expr__
            model:
              expression: A
              reducer: last
              refId: B
              type: reduce
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: [0]
                    type: gt
                  operator:
                    type: and
                  query:
                    params: [C]
                  reducer:
                    params: []
                    type: last
                  type: query
              expression: B
              refId: C
              type: threshold
        noDataState: OK
        execErrState: Alerting
        for: 5m
        labels:
          severity: critical
