apiVersion: 1
groups:
  - orgId: 1
    name: wireguard
    folder: Infrastructure
    interval: 1m
    rules:
      - uid: wireguard_tunnel_down
        title: WireGuard Tunnel Down
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: prometheus
            model:
              expr: wireguard_latest_handshake_delay_seconds{interface="wg0"}
              refId: A
          - refId: B
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 180
                    type: gt
                  operator:
                    type: and
                  query:
                    params:
                      - A
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: A
              refId: B
              type: threshold
          - refId: C
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: []
                    type: gt
                  operator:
                    type: and
                  query:
                    params:
                      - C
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: B
              refId: C
              type: threshold
        noDataState: Alerting
        execErrState: Alerting
        for: 5m
        annotations:
          summary: WireGuard tunnel to vpsfree has no recent handshake
          description: "Last handshake was {{ $values.A.Value }} seconds ago (threshold: 180s)"
        labels:
          severity: critical
          component: wireguard
