apiVersion: 1
groups:
  - orgId: 1
    name: Prusa
    folder: Infra
    interval: 1m
    rules:
      - uid: prusa_host_down
        title: Prusa Host
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: prometheus
            model:
              expr: up{instance="prusa.nb.krejci.io:9999", job="node"}
              refId: A
          - refId: B
            datasourceUid: __expr__
            model:
              expression: A
              reducer: last
              refId: B
              type: reduce
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 1
                    type: lt
                  operator:
                    type: and
                  query:
                    params:
                      - C
                  reducer:
                    params: []
                    type: last
                  type: query
              expression: B
              refId: C
              type: threshold
        noDataState: Alerting
        execErrState: Alerting
        for: 5m
        annotations:
          summary: "prusa host is down"
        labels:
          severity: critical
          host: prusa
          __alerting_keep_firing_for__: 1h
